In [1]:
pwd

'C:\\Users\\USER\\Desktop'

In [2]:

import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('cities.csv')

In [6]:
change=df.columns.str.replace('"','')

df.columns=change.str.strip()

In [7]:
df['City']=df['City'].str.replace('"','')

In [9]:
df['City']=df['City'].str.strip()

In [10]:
print(df.head())

   LatD  LatM  LatS    NS  LonD  LonM  LonS    EW             City State
0    41     5    59   "N"    80    39     0   "W"       Youngstown    OH
1    42    52    48   "N"    97    23    23   "W"          Yankton    SD
2    46    35    59   "N"   120    30    36   "W"           Yakima    WA
3    42    16    12   "N"    71    48     0   "W"        Worcester    MA
4    43    37    48   "N"    89    46    11   "W"  Wisconsin Dells    WI

In [11]:
print(df[df.City=="Tulsa"])

    LatD  LatM  LatS    NS  LonD  LonM  LonS    EW   City State
42    36     9    35   "N"    95    54    36   "W"  Tulsa    OK